[Desktop Entry]
Name=rsTerminal
GenericName=Terminal Emulator
Comment=Multi terminal emulator with SSH, serial, and file manager
Exec=rsTerminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupWMClass=rsTerminal
